# Gateway de pagamento
PAYMENT_PROVIDER=mercado_pago

# Nunca colocar no frontend
PAYMENT_ACCESS_TOKEN=SUA_CHAVE_PRIVADA_AQUI

# URL pública para webhook
WEBHOOK_URL=https://seudominio.com/api/webhook
